In [2]:
import pandas as pd
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [3]:
# KRX300종목 데이터 불러오기
df_code = pd.read_csv('KRX300_code.csv', encoding = 'cp949')
df_code = df_code.iloc[:,:2]
df_code.종목코드 = df_code.종목코드.apply(lambda x : format(x, '06'))
df_code

       종목코드       종목명
0    005930      삼성전자
1    000660    SK하이닉스
2    207940  삼성바이오로직스
3    005490  POSCO홀딩스
4    006400     삼성SDI
..      ...       ...
297  003100        선광
298  001230     동국홀딩스
299  460850      동국씨엠
300  016710     대성홀딩스
301  004360        세방

[302 rows x 2 columns]

In [4]:
# 분석 기간 설정 후 데이터 불러오기
import FinanceDataReader as fdr
import numpy as np

code = df_code.종목코드
name = df_code.종목명
df = pd.DataFrame()

for i,j in tqdm(zip(code, name)):
    df1 = fdr.DataReader(i,'2023-09-01','2024-01-01')
    df1['종목코드'] = i
    df1['종목명'] = j
    df = pd.concat([df, df1])


df = df.sort_values("Date")

302it [02:12,  2.28it/s]

In [5]:
df['log_Change'] = np.log(df['Change'] + 1)

In [6]:
df.query('Volume == 0')['종목명'].value_counts()

종목명
셀트리온헬스케어    8
카나리아바이오     1
Name: count, dtype: int64

In [7]:
#회사별로 분류해서 3차원 데이터프레임 만들기
df_ls = []

for i in tqdm(code):
    df_ls.append(df[df.종목코드 == i])

100%|███████████████████████████████████████| 302/302 [00:00<00:00, 1595.68it/s]

In [8]:
# 최근 100일 안에 거래정지된 회사들 뽑는 함수
# 피처를 만드려면 약 100일 간의 정상적인 거래 데이터가 있어야 하기 때문에
# 뽑은 회사들은 거래를 하지 않는 가운데 순위에 들어갈 예정이다.
def Abnormal_trading(df, code):
    
    trading100 = []
    for i in tqdm(df):
        trading100.append(i.iloc[-100:].Volume == 0)
            
    trading100_set = []
    for i in trading100:
        trading100_set.append(set(i))
        
    stop_trading = []
    for i,j in zip(code, trading100_set):
        if True in j:
            stop_trading.append(i)
            
    return stop_trading

# 뽑은 회사들을 전체 종목코드에서 삭제 후, 반환하는 함수
def Make_trading_code(code, stop):
    a = list(code)
    for i in stop:
        a.remove(i)

    return a

In [9]:
stop_trading = Abnormal_trading(df_ls, code)
trading_code = Make_trading_code(code, stop_trading)

len(stop_trading), len(trading_code)

100%|██████████████████████████████████████| 302/302 [00:00<00:00, 31666.20it/s]

(2, 300)

In [10]:
# 최근 100일간의 데이터만 회사별로 추출
df_lst = []

for i in tqdm(trading_code):
    df_lst.append(df[df.종목코드 == i].iloc[-100:])

del df_ls

100%|███████████████████████████████████████| 300/300 [00:00<00:00, 1627.32it/s]

In [11]:
# RSI, StochasticOscillator, MACD, BollingerBands 추가
from ta.momentum import RSIIndicator
from ta.momentum import StochasticOscillator
from ta.trend import MACD
from ta.volatility import BollingerBands

for i in tqdm(df_lst):
    
    calc_RSI = RSIIndicator(i["Close"], window = 14, fillna = False)
    i['RSI'] = calc_RSI.rsi()


    calc_stoch = StochasticOscillator(i['High'], i['Low'], i['Close'], window = 14, smooth_window = 3, fillna = False)
    i['stoch'] = calc_stoch.stoch()
    stoch_signal = pd.Series(calc_stoch.stoch_signal())
    i['stoch_diff'] = i['stoch'] - stoch_signal

    calc_MACD = MACD(i['Close'], window_slow = 26, window_fast = 12,
                    window_sign = 9, fillna = False)
    i['MACD'] = calc_MACD.macd()
    i['MACD_diff'] = calc_MACD.macd_diff()

    calc_Boll = BollingerBands(i['Close'], window = 20, window_dev = 2, fillna = False)
    i['Boll_h_i'] = calc_Boll.bollinger_hband_indicator()
    i['Boll_l_i'] = calc_Boll.bollinger_lband_indicator()
    
    i['Boll_p'] = calc_Boll.bollinger_pband()

100%|████████████████████████████████████████| 300/300 [00:00<00:00, 706.81it/s]

In [12]:
# 40일 기준 합산 변동률 구하기 
sum_change = []

for i in tqdm(df_lst):
    sum_change_part = [0 for i in range(39)]
    for j in range(len(i) - 39):
        a = i[j:j+40].Change.sum()
        sum_change_part.append(a)
    sum_change.append(sum_change_part)
    
# 합산 변동률 열 추가
for i, j in zip(sum_change, df_lst):
    j['sum_change'] = i

100%|████████████████████████████████████████| 300/300 [00:00<00:00, 694.91it/s]

In [13]:
# X 필오한 열만 자르기 (종목코드, 종목명, Change 삭제)
df_lst2 = []

for a in tqdm(df_lst):
    a_1 = a.iloc[:,4:]
    a_2 = a_1.drop(['종목코드', '종목명', 'Change'], axis = 1)
    df_lst2.append(a_2)

100%|███████████████████████████████████████| 300/300 [00:00<00:00, 5972.89it/s]

In [14]:
# 정규화
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaled_df_lst2 = []

mm = ['RSI', 'stoch', 'Boll_h_i', 'Boll_l_i']
st = ['Volume', 'log_Change', 'sum_change', 'Boll_p', 'stoch_diff', 'MACD', 'MACD_diff']

for i in tqdm(df_lst2):
    # x 정규화
    standard_scaler = StandardScaler()
    standard_scaler = standard_scaler.fit_transform(i[['Volume', 'log_Change', 'sum_change', 'Boll_p', 'stoch_diff', 'MACD', 'MACD_diff']])
    standard_scaler = pd.DataFrame(standard_scaler)
    standard_scaler.columns = st
    
    minmax_scaler = MinMaxScaler()
    minmax_scaler = minmax_scaler.fit_transform(i[['RSI', 'stoch', 'Boll_h_i', 'Boll_l_i']])
    minmax_scaler = pd.DataFrame(minmax_scaler)
    minmax_scaler.columns = mm
    
    scaled_df = pd.concat([standard_scaler, minmax_scaler], axis = 1)
    scaled_df_lst2.append(scaled_df)
    
del df_lst2

100%|████████████████████████████████████████| 300/300 [00:00<00:00, 837.49it/s]

In [15]:
# 지표가 다 만들어진 이후에는 최근 40일간의 데이터가 필요
scaled_df_lst3 = []
for i in scaled_df_lst2:
    scaled_df_lst3.append(i.iloc[-40:])

del scaled_df_lst2

In [16]:
X_test = np.array(scaled_df_lst3)
print('X_test Shape :', X_test.shape)

X_test Shape : (300, 40, 11)

In [17]:
# 데이터셋 형태, 크기 조정
import torch
from torch.autograd import Variable

X_test_tensors = Variable(torch.Tensor(X_test))

print('X_test_tensors Shape :', X_test_tensors.shape)

X_test_tensors Shape : torch.Size([300, 40, 11])

In [ ]:
del X_test

### prediction

In [29]:
import os
import time

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import torch
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader
from torch.autograd import Variable
from tqdm import tqdm_notebook
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

#device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')

In [25]:
import torch
print(f"MPS 장치를 지원하도록 build가 되었는가? {torch.backends.mps.is_built()}")
print(f"MPS 장치가 사용 가능한가? {torch.backends.mps.is_available()}") 

device = torch.device("mps"); device

MPS 장치를 지원하도록 build가 되었는가? True
MPS 장치가 사용 가능한가? True

device(type='mps')

In [30]:
# 변수값 설정

input_size=11 # number of feature
hidden_size=5 # number of feature in hidden state
num_layers=2 # number of stacked lstm layer

num_classes=1 # number of output classes

In [34]:
class LSTM(nn.Module) :
    def __init__(self, num_classes, input_size, hidden_size, num_layers, seq_length) :
        super(LSTM, self).__init__()
        self.num_classes = num_classes
        self.num_layers = num_layers
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.seq_length = seq_length
        
        self.lstm = nn.LSTM(input_size=input_size, hidden_size=hidden_size,
                           num_layers=num_layers, batch_first=True)
        self.fc_1 = nn.Linear(hidden_size, 128)
        self.fc_2 = nn.Linear(128, 64)
        self.fc = nn.Linear(64, num_classes)
        self.relu = nn.ReLU()
        
    def forward(self, x) :
        h_0 = Variable(torch.zeros(self.num_layers, x.size(0), self.hidden_size))
        c_0 = Variable(torch.zeros(self.num_layers, x.size(0), self.hidden_size))
        
        output, (hn, cn) = self.lstm(x, (h_0, c_0))
        
        hn = hn.view(-1, self.hidden_size)
        out = self.relu(hn)
        out = torch.nan_to_num(out) # nan loss가 나오길래 넣었더니 해결됨
        out = self.fc_1(out)
        out = self.relu(out)
        out = self.fc_2(out)
        out = self.relu(out)
        out = self.fc(out)
        n = int(len(out)/num_layers)
        out2 = out[-n:]
        
        return out2

In [38]:
# 모델 불러오기
PATH = "lstm_7_23_jinsim_h5.pth"

model = LSTM(num_classes, input_size, hidden_size, num_layers, 40)
model.load_state_dict(torch.load(PATH, map_location=torch.device('cpu')), strict=False)
model.eval()

LSTM(
  (lstm): LSTM(11, 5, num_layers=2, batch_first=True)
  (fc_1): Linear(in_features=5, out_features=128, bias=True)
  (fc_2): Linear(in_features=128, out_features=64, bias=True)
  (fc): Linear(in_features=64, out_features=1, bias=True)
  (relu): ReLU()
)

In [39]:
# 예측
with torch.no_grad(): 
    predicted22 = model(X_test_tensors.to(device))

In [40]:
# 예측값과 종목코드 합치기
pred = predicted22.tolist()

pred = pd.Series(pred)
trading_code = pd.Series(trading_code)

result = pd.concat([pred, trading_code], axis = 1)
result.columns = ['pred', '종목코드']

# 예측값 하나하나가 리스트안에 들어가있는 형태이므로 리스트 밖으로 꺼내서 실수형으로 만들어주기
for i in range(len(result)):
    result['pred'][i] = result['pred'][i][0]
    
result = result.astype({'pred' : 'float'})

In [43]:
result['순위'] = result['pred'].rank(method='first', ascending=False).astype('int') # 각 순위를 중복없이 생성
result.sort_values('순위', inplace = True)
result.reset_index(drop = True, inplace = True)
merge_inner = pd.merge(result, df_code, on = '종목코드')
merge_inner.head(15)

        pred    종목코드  순위          종목명
0   0.131622  029780   1         삼성카드
1   0.111820  294870   2    HDC현대산업개발
2   0.099892  005300   3         롯데칠성
3   0.098055  058470   4         리노공업
4   0.093342  280360   5        롯데웰푸드
5   0.084518  271560   6          오리온
6   0.083316  042700   7        한미반도체
7   0.077630  035760   8       CJ ENM
8   0.072724  161390   9  한국타이어앤테크놀로지
9   0.071931  259960  10         크래프톤
10  0.071748  078340  11          컴투스
11  0.071542  007070  12        GS리테일
12  0.071199  003410  13        쌍용C&E
13  0.069231  051600  14        한전KPS
14  0.065227  017800  15       현대엘리베이